body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header_div{
  display: flex;
  justify-content: center;
}

#postcard{
  display: table-row;
  justify-content: center;
  padding: 2rem;
}

#followcard{
  display: table-row;
  justify-content: center;
  padding: 5rem;
}