*{
  /* background-image: url("https://images.unsplash.com/photo-1559567951-34c59e05c08c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTg5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60"); */
  font-family: 'Simonetta', cursive;
  /* font-family: 'Kalam', cursive; */
  /* background-color: navy, 100vh;
  background-image: radial-gradient(red, yellow, green) */
}

body {
  /* background-image: url("https://images.unsplash.com/photo-1559567951-34c59e05c08c?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxleHBsb3JlLWZlZWR8MTg5fHx8ZW58MHx8fHw%3D&auto=format&fit=crop&w=400&q=60");
  min-height: 100vh; */
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: white 100vh;
  /* background-image: linear-gradient( white (0, 53%, 45%), ) */
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

#header h1 {
  display: flex;
  justify-content: center;
}

#header h2 {
  display: flex;
  justify-content: start;
  padding-left: 2rem;
}

#header img {
  display: flex;
  justify-content: start;
  padding-left: 2rem;
  /* width: 200px; */
  width: 10rem;
}

#navbar{
  display: flex;
  flex-direction: column;
} 
  
.navlinks{
  color: #2b2b2b;
}
  
.navlinks:hover{
  color: #ffd43f
}

.allbuttons{
  background-color: white;
  color: #2b2b2b;
  width: 4rem;
}

.allbuttons:hover{
  color: #ffd43f
}

.allcards{
  display: flex;
  flex-direction: row;
  padding: 5rem;
  /* width: 100vw; */
  border: 10px, solid #00B3E6;
}

.allcards img {
  display: flex;
  justify-content: start;
  padding-left: 2rem;
  /* width: 200px; */
  width: 15rem;
}